In [1]:
import contabilidad as cont
import datetime as dt

# Ejemplo

## Declaración

Inicio de la contabilidad de la empresa

In [2]:
contabilidad_empresa_2022 = cont.Contabilidad()

El objeto Contabilidad contiene .libro_diario .libro_mayor y .balance

## Hacer asientos

In [3]:
contabilidad_empresa_2022.añadir_asiento("Ampliación de capital", {572: 750000}, {100:750000}, dt.date(2022, 3, 14))
contabilidad_empresa_2022.añadir_asiento("Pago del alquiler", {621: 150000}, {572:150000}, dt.date(2022, 4, 10))
contabilidad_empresa_2022.añadir_asiento("Compra de maquinaria", {213: 50000}, {572:50000})
contabilidad_empresa_2022.añadir_asiento("Compra de mercaderías", {600: 800000}, {572:500000, 400:300000})
contabilidad_empresa_2022.añadir_asiento("Ventas (NO ENTIENDO)", {572: 1800000}, {700:1800000})
contabilidad_empresa_2022.añadir_asiento("Pago de sueldos", {640: 160000}, {572:160000})

Cada asiento se compone de un concepto, unos diccionarios para el debe y otro para el haber (cuenta:cantidad, cuenta:cantidad) y una fecha

Los asientos se van añadiendo (.append) a contabilidad_empresa_2022.libro_diario que es un objeto tipo lista (que hereda de lista). Su método tabla nos permite ver los asientos

In [4]:
contabilidad_empresa_2022.libro_diario.tabla()

,Número de asiento,Fecha,Concepto,Cuenta,Nombre de cuenta,Debe,Haber
0,0,2022-03-14,Ampliación de capital,572,"Bancos e instituciones de crédito c/c vista, e...",750000,None
1,0,2022-03-14,Ampliación de capital,100,Capital social,None,750000
2,1,2022-04-10,Pago del alquiler,621,Arrendamientos y cánones,150000,None
3,1,2022-04-10,Pago del alquiler,572,"Bancos e instituciones de crédito c/c vista, e...",None,150000
4,2,2023-01-25,Compra de maquinaria,213,Maquinaria,50000,None
5,2,2023-01-25,Compra de maquinaria,572,"Bancos e instituciones de crédito c/c vista, e...",None,50000
6,3,2023-01-25,Compra de mercaderías,600,Compras de mercaderías,800000,None
7,3,2023-01-25,Compra de mercaderías,572,"Bancos e instituciones de crédito c/c vista, e...",None,500000
8,3,2023-01-25,Compra de mercaderías,400,Proveedores,None,300000
9,4,2023-01-25,Ventas (NO ENTIENDO),572,"Bancos e instituciones de crédito c/c vista, e...",1800000,None
10,4,2023-01-25,Ventas (NO ENTIENDO),700,Ventas de mercaderías,None,1800000
11,5,2023-01-25,Pago de sueldos,640,Sueldos y salarios,160000,None
12,5,2023-01-25,Pago de sueldos,572,"Bancos e instituciones de crédito c/c vista, e...",None,160000

## Guardar y leer libros diarios en CSV

In [5]:
contabilidad_empresa_2022.libro_diario.save_csv("libro_diario_2022")

In [6]:
contabilidad_empresa_2022.libro_diario.clear()
contabilidad_empresa_2022.libro_diario.load_csv('libro_diario_2022')
contabilidad_empresa_2022.libro_diario.tabla()

,Número de asiento,Fecha,Concepto,Cuenta,Nombre de cuenta,Debe,Haber
0,0,2022-03-14,Ampliación de capital,572,"Bancos e instituciones de crédito c/c vista, e...",750000,None
1,0,2022-03-14,Ampliación de capital,100,Capital social,None,750000
2,1,2022-04-10,Pago del alquiler,621,Arrendamientos y cánones,150000,None
3,1,2022-04-10,Pago del alquiler,572,"Bancos e instituciones de crédito c/c vista, e...",None,150000
4,2,2023-01-25,Compra de maquinaria,213,Maquinaria,50000,None
5,2,2023-01-25,Compra de maquinaria,572,"Bancos e instituciones de crédito c/c vista, e...",None,50000
6,3,2023-01-25,Compra de mercaderías,600,Compras de mercaderías,800000,None
7,3,2023-01-25,Compra de mercaderías,572,"Bancos e instituciones de crédito c/c vista, e...",None,500000
8,3,2023-01-25,Compra de mercaderías,400,Proveedores,None,300000
9,4,2023-01-25,Ventas (NO ENTIENDO),572,"Bancos e instituciones de crédito c/c vista, e...",1800000,None
10,4,2023-01-25,Ventas (NO ENTIENDO),700,Ventas de mercaderías,None,1800000
11,5,2023-01-25,Pago de sueldos,640,Sueldos y salarios,160000,None
12,5,2023-01-25,Pago de sueldos,572,"Bancos e instituciones de crédito c/c vista, e...",None,160000

## Libro mayor

## Balance

In [7]:
contabilidad_empresa_2022.balance

Activo
	Activo no corriente
		Inmovilizado material	50000
	Activo corriente
		Efectivo y otros activos líquidos equivalentes	1690000
Patrimonio neto
	Fondos propios
		Capital	750000
	Ajustes por cambios de valor
	Subvenciones, donaciones y legados recibidos
Pasivo
	Pasivo no corriente
	Pasivo corriente
		Acreedores comerciales y otras cuentas a pagar	300000

In [8]:
print(contabilidad_empresa_2022.balance.totales)

contabilidad_empresa_2022.balance.totales['Activo']\
    -contabilidad_empresa_2022.balance.totales['Pasivo']\
    -contabilidad_empresa_2022.balance.totales['Patrimonio neto']

{'Activo': 1740000, 'Patrimonio neto': 750000, 'Pasivo': 300000}

690000

In [9]:
contabilidad_empresa_2022.balance.libro.totales

{100: -750000,
 213: 50000,
 400: -300000,
 572: 1690000,
 600: 800000,
 621: 150000,
 640: 160000,
 700: -1800000}